@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* text anymation css  */
.ml6 {
    position: relative;
    font-weight: 800;
    font-size: 2.3em;
}

.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml6 .letter {
    display: inline-block;
    line-height: 1em;
}

/* text anymation css  */

/* type js style start  */


.header_namr h1 {
    display: inline-block;
    margin-top: 225px;
    font-size: 40px;
    color: white;

}

.name_style {
    color: cyan;
}

.wrap {
    margin: 0 70px;

}

/* #typed-strings p {
    font-size: 40px;
} */

#typed {
    font-size: 35px;
    color: gold;
}

/* type js style end  */
.border_style {
    border-bottom: 3px solid rgb(251, 251, 251);
}

.nav-link {
    font-size: 30px;
}

.border_slit:hover {
    border-bottom: 3px solid blue;

}

.main_back {

    background-image: url("../5467393_1687.jpg");
    /* background-color: red; */
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}

.main_text {
    display: inline-block;
    margin-top: 200px;

}

.box_stylr {
    height: 300px;
    border-radius: 20px;
    padding: 10px;
}

.box_stylr i {
    font-size: 60px;
    margin-bottom: 10px;
    padding: 20px;
    border: 5px solid blue;
    border-radius: 70px;

}

.box_stylr i:hover {
    color: white;
    padding: 20px;
    border: 5px solid blue;
    border-radius: 70px;
    background-color: black;

}

/* ------------------ */


.WORKS_COMPLETED {
    background-position: center;
    height: 500px;
    width: 90%;

    background-image: url('../post-3.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;




}

.row_col {
    background-color: rgba(5, 19, 213, 0.536);

    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: right;
    border-radius: 20px;
}

.WORK_icon i {
    font-size: 50px;
    color: white;
}

.glary_icon i {
    color: black;
    font-size: 40px;
}

.cat_bg {
    background-color: rgb(249, 242, 234);
    border-radius: 15px;
}

/* ------------ */
/* .img_ho img {
    width: 95%;
    height: 95%;
    background: red;
    transition: width 0.5s;
    border-radius: 15px;
}

.img_ho img:hover {
    width: 100%;
    height: 100%;
} */

/* ------------------- */
/* tim start */
.tim {
    height: auto;
    width: 100%;
    background-image: url("../tim/tim_bg.jpg");
    background-attachment: fixed;
}

/* tim end */
.card_futer_img img {

    height: 45px;
    width: 45px;
    border-radius: 70px;
}

/* ------------------------ */
/* form section */
#foro {
    background-image: url("../overlay-bg.jpg");
    border: 20px;
    background-attachment: fixed;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.location_contact {
    text-decoration: none;
    font-size: 25px;
    color: black;

}

.location_contact a {
    text-decoration: none;
    color: black;
    display: block;
}

.all_socal_icon a {
    font-size: 30px;
    color: black;
    margin-left: 20px;
    padding: 20px;
    border: 5px solid blue;
    /* border-radius: 70px; */
    /* border-radius: 10px / 30px; */
    border-radius: 5px 20px 5px;


}

.all_socal_icon a:hover {
    color: white;
    background-color: rgb(89, 89, 252);
    border: 5px solid rgba(245, 222, 179, 0.431);
}

/* -------------------------- */
footer {
    height: 100px;
    width: 100%;
    background-color: black;
}

.arro_style a i {
    font-size: 30px;
    color: white;


}